{% extends 'base.html' %}
{% block title %}Home Page{% endblock  %}
{% load static %}
{% block content %}
      <!--Welcome section -->
      <section class="container text-center mt-2">
        <h1 class="section-header">World of Lorecraft</h1>
        <div class="hero-img-container">
          <img src="https://res.cloudinary.com/pp4-lorecraft/image/upload/v1669487065/lorecraft_bfp7z8.webp" alt="Lorecraft logo">
        </div>
        <p class="font-size-18px">Read, Rate and Comment on your favourite, Warcraft books!</p>
      </section>
      <!--Latest book section -->
      <section class="container">
        <h2 class="text-center section-header">Latest</h2>
        <div class="container">
          <div class="row justify-content-center align-items-center">
            {% for book in latest_books  %}
            <div class="col-lg-4 col-12 text-center">
              <div class="book-card">
                <a href="{% url "book" book.slug %}" aria-label="{{book.title}} page">
                  <img src="{{book.title_image.url}}" class="book-cover-small mx-auto d-block mt-2"
                  {% if book.is_img_default %}
                    alt="Placeholder. Cover not available"
                  {% else %}
                    alt="{{book.title}}'s cover"
                  {% endif %}
                  >
                </a>
                <div class="book-card-body">
                  <h3 class="card-title">{{book.title | truncatechars:15}}</h3>
                  <div class="card-subtitle mb-2 text-muted">
                    {{ book.authors.all|join:" "|truncatechars:30 }}
                  </div>
                  <div class="small">
                    Categories: {{ book.genres.all|join:" "|truncatechars:30|title }}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!--Best rated section -->
      <section class="container">
        <h2 class="text-center section-header">Best rated</h2>
        <div class="container">
          <div class="row justify-content-center align-items-center">
            {% for book in best_books %}
            <div class="col-lg-4 col-12 text-center">
              <div class="book-card">
                <a href="{% url "book" book.slug %}" aria-label="{{book.title}} page">
                  <img src="{{book.title_image.url}}" class="book-cover-small mx-auto d-block mt-2"
                  {% if book.is_img_default %}
                    alt="Placeholder. Cover not available"
                  {% else %}
                    alt="{{book.title}}'s cover"
                  {% endif %}
                  >
                </a>
                <div class="book-card-body">
                  <h3 class="card-title font-size-32px">{{book.title | truncatechars:15}}</h3>
                  <div class="card-subtitle mb-2 text-muted">
                    {{ book.authors.all|join:" "|truncatechars:30 }}
                  </div>
                  <div class="small">
                    Categories: {{ book.genres.all|join:" "|truncatechars:30|title }}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
{% endblock  %}

