/* ACCOUNTS */
input {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* BOOK */

.book-cover-small {
    width: 90px; 
    height: 130px;
}

.card {
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cover-single-book {
    height: 200px;
    width: 200px;
}

.cover-single-book img {
    height: 100%;
    width: 100%;
}

.example-page-img-small {
    height: 100px;
    width: 100px;
}

.modal-img {
    width: 100%;
}

.book-gallery-item {
    cursor: pointer;
}