<footer class="bg-primary fixed-bottom">
  <div class="row">
    <div class="col text-center">
      <a
        href="https://www.linkedin.com/"
        class="text-white text-decoration-none me-3"
        target="_blank"
        rel="noopener"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        href="https://www.facebook.com/"
        class="text-white text-decoration-none me-3"
        target="_blank"
        rel="noopener"
        aria-label="Facebook"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a
        href="https://github.com/"
        class="text-white text-decoration-none me-3"
        target="_blank"
        rel="noopener"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center text-white">
      <span>This site is for educational purposes only.</span>
    </div>
  </div>
</footer>
