<footer class="bg-primary text-center">
    <div>
      <a
        href="https://www.linkedin.com/"
        class="text-white text-decoration-none me-3"
        target="_blank"
        rel="noopener"
        aria-label="Linkedin page, opens in a new tab"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        href="https://www.facebook.com/"
        class="text-white text-decoration-none me-3"
        target="_blank"
        rel="noopener"
        aria-label="Facebook page, opens in a new tab"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a
        href="https://github.com/"
        class="text-white text-decoration-none me-3"
        target="_blank"
        rel="noopener"
        aria-label="Github page, opens in a new tab"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    <div class="text-white">
      <span>This site is for educational purposes only.</span>
    </div>
</footer>
