<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lorecraft</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link disabled" aria-current="Home" href="#">Home</a>
        <a class="nav-link" href="#">Register</a>
        <a class="nav-link" href="#">Log in</a>
        <a class="nav-link" href="#">Books</a>
        <a class="nav-link" href="#">About us</a>
      </div>
    </div>
  </div>
</nav>
