{% extends 'base.html' %}
{% block title %}All books{% endblock  %}
{% load static %}
{% block content %}
<!--Book section-->
  <section class="container">
    <h1 class="text-center">All books</h1>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        {% for book in page_obj %}
        <div class="col-lg-4 col-12 text-center">
          <div class="book-card">
            <a href="{% url 'book' book.slug %}">
              <img src="{{book.title_image.url}}" class="book-cover-small mx-auto d-block mt-2"
              {% if book.is_img_default %}
                alt="Placeholder. Cover not available"
              {% else %}
              alt="{{book.title}}'s cover"
                {% endif %}
            >
            </a>
            <div class="book-card-body">
              <h2 class="card-title">{{book.title | truncatechars:15}}</h2>
              <div class="card-subtitle mb-2 text-muted">
                {{ book.authors.all|join:" "|truncatechars:30 }}
              </div>
              <div class="small">
                Categories: {{ book.genres.all|join:" "|truncatechars:30|title }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
<!-- Pagination bar -->
{% block pagination%}
<div id="paginatior-container" class="d-flex justify-content-center mb-2 gap-5px ">
      {% if page_obj.has_previous %}
          <a href="?page=1" class="btn btn-dark" role="button">&laquo;</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark" role="button">&lsaquo;</a>
      {% endif %}
          <span class="page-counter text-center">
             {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          </span>
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark" role="button">&rsaquo;</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-dark" role="button">&raquo;</a>
      {% endif %}  
</div>
{% endblock  %}
