{% extends 'base.html' %}
{% block title %}{{instance.book.title}} delete review confirmation {% endblock  %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main>
    <h1>Delete review for {{instance.book.title}}</h1>
    <div>
        Review content : {{instance.content}}
    </div>
        <div>
            <a href="{% url 'delete_review' instance.id %}">
                <button type="submit">Delete Review</button>
            </a>
        </div>
    </form>
</main>
{% endblock %}