{% extends 'base.html' %}
{% block title %}{{book.title}} preview {% endblock  %}
{% load static %}
{% block content %}
<main>
    <section>
        <h2>{{book.title}}</h2>
    </section>
    <section>
        <h3>Reviews</h3>
        {% for review in book.reviews.all %} 
            <div class="container-fluid bd-light">
                {{review.user}}
                {{review.content}}
                {{review.created_at | date:"d.m.y"}}
                {% if review.user.pk == user.pk %}
                <div class="container-fluid">
                    <button><a href="{% url 'edit_review' review.id %}">click me</a></button>
                </div>
                {% endif %}
            </div>
        {% empty %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        No reviews are available for this book. 
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <section>
        <h4>Add Review form</h4>
    </section>
</main>
{% endblock %}